<?xml version="1.0"?>
<robot name="tm700" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- gazebo stuff -->
  <xacro:include filename="$(find tm_description)/urdf/common.gazebo.xacro" />
  <xacro:include filename="$(find tm_description)/urdf/tm.transmission.xacro" />
  <xacro:include filename="$(find tm_description)/urdf/tm.gazebo.xacro" />
  
  <!-- tm700 -->
  <xacro:include filename="$(find tm_description)/urdf/tm700.urdf.xacro" />

  <!-- joint limit -->
  <xacro:tm700_robot prefix="" joint_limited="true"/>

  <link name="world" />

  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "base_link" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

</robot>
