<?xml version="1.0"?>
<robot name="tm900" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:property name="prefix" value="" />

  <!-- gazebo stuff -->
  <xacro:include filename="$(find tm_description)/urdf/common.gazebo.xacro" />
  <xacro:include filename="$(find tm_description)/urdf/tm.gazebo.xacro" />
  <xacro:tm_arm_gazebo prefix="${prefix}" />

  <!-- tm900 -->
  <xacro:include filename="$(find tm_description)/urdf/tm900.urdf.xacro" />
  <xacro:tm900_robot prefix="${prefix}" joint_limited="false" />

  <link name="world" />
  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link="base" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <!-- eye in hand camera-->
  <xacro:include filename="$(find tm_description)/urdf/tm900.eih.xacro" />
  <xacro:tm900_eih_camera prefix="${prefix}" />

</robot>
