<?xml version="1.0"?>
<launch>
  <arg name="sim" default="true" />
  <arg name="limited" default="false"/>

  <group if="$(arg sim)">
    <param unless="$(arg limited)" name="robot_description" command="$(find xacro)/xacro.py '$(find tm_description)/urdf/tm700_robot.gazebo.xacro'" />
    <param if="$(arg limited)" name="robot_description" command="$(find xacro)/xacro.py '$(find tm_description)/urdf/tm700_robot_joint_limited.gazebo.xacro'" />
  </group>

  <group unless="$(arg sim)">
    <param unless="$(arg limited)" name="robot_description" command="$(find xacro)/xacro.py '$(find tm_description)/urdf/tm700_robot.urdf.xacro'" />
    <param if="$(arg limited)" name="robot_description" command="$(find xacro)/xacro.py '$(find tm_description)/urdf/tm700_robot_joint_limited.urdf.xacro'" />
  </group>

</launch>
