<?xml version="1.0"?>
<launch>

  <include file="$(find tm_gazebo)/launch/tm1100.launch"/>
  
  <!-- Remap oint_trajectory_action -->
  <remap from="/joint_trajectory_action" to="/arm_controller/follow_joint_trajectory"/>
  
  <include file="$(find tm1100_moveit_config)/launch/move_group.launch">
    <arg name="publish_monitored_planning_scene" value="true" />
  </include>
  
  <include file="$(find tm1100_moveit_config)/launch/moveit_rviz.launch">
    <arg name="config" value="true"/>
  </include>
  
</launch>
